<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
        <plugin name="gz::sim::systems::DiffDrive" filename="gz-sim-diff-drive-system">

            <!-- Wheel Information -->
            <left_joint>base_left_front_wheel_joint</left_joint>
            <right_joint>base_right_front_wheel_joint</right_joint>
            <left_joint>base_left_back_wheel_joint</left_joint>
            <right_joint>base_right_back_wheel_joint</right_joint>
            <wheel_separation>0.160</wheel_separation>
            <wheel_radius>0.050</wheel_radius>


            <!-- Limits -->
            <!-- <max_wheel_torque>200</max_wheel_torque> -->
            <max_linear_acceleration>10</max_linear_acceleration>

            <!-- Input -->
            <topic>cmd_vel</topic>

            
            <!-- Output -->
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
            <odom_topic>odom</odom_topic>
            <odom_publisher_frequency>100</odom_publisher_frequency>
            
            <tf_topic>/tf</tf_topic>

        </plugin>


        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
            <joint_name>base_left_front_wheel_joint</joint_name>
            <joint_name>base_right_front_wheel_joint</joint_name>
            <joint_name>base_left_back_wheel_joint</joint_name>
            <joint_name>base_right_back_wheel_joint</joint_name>
        </plugin>          
    </gazebo>

    <gazebo>
        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors"></plugin>
    </gazebo>


    <gazebo reference="lidar_link">
        <sensor name="laser" type="gpu_lidar">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <topic>scan</topic>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
            </lidar>

            <gz_frame_id>base_link</gz_frame_id>
        </sensor>
    </gazebo>

    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_lens_link" />
        <child link="camera_link_optical" />
        <origin xyz="0 0 0" rpy="-1.57 0 1.57" />
    </joint>

    <link name="camera_link_optical"></link>

    <gazebo reference="camera_link">
        <sensor name="camera" type="camera">
            <always_on>true</always_on>
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            <camera name="camera">
                <camera_info_topic>camera/camera/info</camera_info_topic>
            </camera>
            <topic>camera/image_raw</topic>
            <gz_frame_id>camera_link_optical</gz_frame_id>

        </sensor>
    </gazebo>

   <gazebo reference="base_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
    </gazebo>
   
    <gazebo reference="right_front_wheel_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
   
    <gazebo reference="left_front_wheel_wheel">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
   
    <gazebo reference="right_back_wheel_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="left_back_wheel_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

</robot>