<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="oskar">
    
    <!-- Lidar Description -->
    
    <link name="lidar_link">
        <visual>
            <geometry>
                <cylinder radius="0.03" length="0.07"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <material name="orange" />
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.03" length="0.07"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" /> 
        </collision>
        <inertial>
            <mass value="0.170"/>
            <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3"/>
        </inertial>

    </link>

    <joint name="base_lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="lidar_link"/>
        <origin xyz="0 0 0.12" rpy="0 0 0" />
    </joint>

</robot>